# 1. Create a copy of this file and rename to .env
# 2. Replace the params here with your configs from discord

MONGODB_USER='<mongodb_username>'
MONGODB_PASS='<mongodb_password>'

MONGODB_URI='mongodb+srv://<mongodb_username>:<mongodb_password>@symptomsearch.kq8rnvk.mongodb.net/?appName=SymptomSearch'
